@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F9FF;
  --primary: #a770ff; /* #4F47E5  */
  --secondary: #945bef;
  --accent: #4285F4;
  --text: #2c2f33;
  --text-secondary: #99aab5;
}

body {
  @apply bg-[var(--background)] text-[var(--text)] font-sans antialiased;
}

.glass-effect {
  @apply bg-white/10 backdrop-blur-xl border border-white/20;
}